<!DOCTYPE html>
<html>
<body style="font-family: Calibri, Arial, sans-serif; font-size: 11pt; color: #000;">
<p>Hello <b>{recipient_name}</b>,</p>

<p>{intro_text}</p>

<p>{summary_text}</p>

<p><b>Updated details:</b></p>
<ul>
{changed_fields_html}
</ul>

<p>
<b>Updated by:</b> {actor_name}<br>
<b>Organization:</b> {organization_name}<br>
<b>Department:</b> {department_name}
</p>

<p style="color:#666; font-size: 9pt;">
This is an automated notification from AgentCore. Please do not reply to this email.
</p>
</body>
</html>
